*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
}
body{
    background-color:#cccccc;
}


/* navigation styling */
.nav-item a{
    color: #17a2b8;
    font-weight: bold;
}
.nav-item a :hover{
    background-color: black;

}

#landing{
.col{
    color:#17a2b8;
}
.col h4{
    color:#17a2b8;
    font-size:4em;
    text-transform: uppercase;
    /* line-height: normal; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10) 5, cursor .4s step-end infinite alternate;

}

.col h4{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
     animation-iteration-count: infinite;
  }
.col h1{
    color: #17a2b8;
    font-size: 80px;
}
.col h3{
    color:#17a2b8;
    font-size:30px;

}
.col a{
    border: 1px solid black;
    padding: 8px 18px;
    text-decoration: none;
    color:black;
    background-color: #cccccc;
}
.col a :hover{
    background-color:#17a2b8
  }
  /* landing section */
.container2{
    display: inline-block;

}
.container2 a{
    font-weight: bold;
    color:black!important;
    border:2px solid thistle ;
    border-radius: 3rem;
    
}

.container2 a:hover{
    background-color:#17a2b8;
    color: black!important;
    
}}
    
/* nav bar section */



/* about */
.textAB{
    width:500px;
}
.textAB a{
    background-color:thistle ;
    color:black;
    text-decoration: none;
    font-weight: bold;
    border:2px solid transparent;
    border-radius: 30px;
    transition :4s;
    padding:13px 30px;
}
.ABM{
    width:500px;
    max-width: 95%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius: 50%;
    height: 500px;
}
button{
    background-color:thistle ;
    color:black;
    text-decoration: none;
    font-weight: bold;
    border:2px solid transparent;
    border-radius: 30px;
    transition :4s;
    padding:13px 30px;
}
/* education and work */

#Education{
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    .column header.title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: blue;
        padding: 0px 0px 20px 30px;
    }
    .column .contents{
        padding: 0px 30px;
        border-left: 2px solid #BABABA;
    }
    .column .contents .box{
        position: relative;
        padding: 20px;
        border: 1px solid #EAEAEA;
        background-color: #FFFFFF;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
    }
    .column .contents .box:hover{
        box-shadow: 0px 3px 12px 0px #ccc;
        border: 1px solid transparent;
    }
    .column .contents .box::before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        right: calc(100% + 22px);
        top: 0;
        background-color: #17a2b8;
        border: 2px solid white;
    }
    .box h4{
        position: relative;
        color: #17a2b8;
    }
    .box h3{
        font-size: 19px;
        padding: 10px 0px 6px;
        font-family: Arial, Helvetica, sans-serif;
        color: #444;
    }
    .box p{
        line-height: 1.2;
        color: #666;
        font-size: 17px;} 
    
}
/* #skills .container .row{
    
   

} */

/* styling project section */
#project{
    scroll-margin: 130px;
    height: fit-content;
    padding: 2rem 2rem 3rem;
    
}
.carousel-item{
    height: 500px;

}
.carousel-caption{
    margin-bottom: 20%;
}
.carousel-caption h5{
    color: black;
    font-size: 3rem;
    font-weight: bold;
}
.carousel-caption a{
    margin-bottom:50% ; 
    border: 2px solid;
    text-decoration: none;
    padding: 8px 16px;
    color: black;
   border-radius: 2rem;
   font-weight: bold ;

}
/* styling testimonials */
#testimonials{
    display: grid;
    height:100%;
    place-items: center;
    
}
.wrapper{
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    
}
 .wrapper .box{
    background-color: #fff;
    border-radius:3px;
    padding:25px;
    width:calc(33% - 10px);
    flex-wrap: wrap;
}

i.quote{
    font-size:18px;
    color:#17a2b8;
}
.information{
padding-top: 10px;
/* align-items: ; */
display: flex;
justify-content: space-between;
}
.Name{
font-size:17px;
font-weight: 500;
}
.description{
    color:#17a2b8;
    font-size: 16px;
    font-weight: 400;
    
}
.photos img{
    height: 5em;
    width: 5em;
    object-fit:cover;
    border-radius: 50%;
    border: 2px solid #17a2b8;

}



/* contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  /* footer */
  footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: grey;
}

/* ADDING BACKGROUND FOR SECTIONS */
#testimonials {
    scroll-margin: 100px!important;
    margin: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    min-height: 100vh;
}

#contact {
    scroll-margin: 100px!important;
    margin: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    min-height: 100vh;
}

#skills {
    scroll-margin: 100px!important;
    margin: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    min-height: 100vh;
}

#Education {
    scroll-margin: 100px!important;
    margin: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    min-height: 100vh;
}

#About {
    scroll-margin: 100px!important;
    margin: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    min-height: 100vh;
}

#landing {
    scroll-margin: 100px!important;
    margin: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    min-height: 100vh;
}


.ABM img{
    width: 500px;
    margin: .5rem;
    clip-path: circle();
}

@media only screen and (max-width: 700px) {
    body{
        width: min-content;
    }
    .ABM{
       width: 300px;
       height: 300px;
    }
    #About .row{
        display: flex;
        flex-direction: column;
    }
    #About .textAB{
        padding-left:100px;
        font-size: 30px;
    }
    .textAB a{
        background-color:thistle ;
        color:black;
        text-decoration: none;
        font-weight: bold;
        border:2px solid transparent;
        border-radius: 30px;
        transition :4s;
        padding:13px 20px;
        font-size: 15px;
    }
    button{
        background-color:thistle ;
        color:black;
        text-decoration: none;
        font-weight: bold;
        border:2px solid transparent;
        border-radius: 30px;
        transition :4s;
        padding:13px 20px;
        font-size: 15px;
    }
    #skills .container .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #skills .container .row .col .card{
        margin-left: 100px;
     }
     .collapse{
        background-color:#EEEEEE ;
        position: absolute;
        top: 100px;
        width:100%;
        color:#EEEEEE!important;
    }
    .nav-item a{
        color: black;
        font-weight: bold;
    }
    
}
    

@media only screen and (max-width: 300px) {
    body{
        width: min-content;
    }
    .ABM{
       width: 300px;
       height: 300px;
    }
    #About .row{
        display: flex;
        flex-direction: column;
    }
    #About .textAB{
        padding-left:100px;
        font-size: 30px;
    }
    .textAB a{
        background-color:thistle ;
        color:black;
        text-decoration: none;
        font-weight: bold;
        border:2px solid transparent;
        border-radius: 30px;
        transition :4s;
        padding:13px 20px;
        font-size: 15px;
    }
    button{
        background-color:thistle ;
        color:black;
        text-decoration: none;
        font-weight: bold;
        border:2px solid transparent;
        border-radius: 30px;
        transition :4s;
        padding:13px 20px;
        font-size: 15px;
    }
    #skills .container .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #skills .container .row .col .card{
        margin-left: 100px;
     }
     .collapse{
        background-color:#EEEEEE ;
        position: absolute;
        top: 100px;
        width:100%;
        color:#EEEEEE!important;
    }
    .nav-item a{
        color: black;
        font-weight: bold;
    }
}
#skills .container .row .col .card{
    width: 400px;
 }

 #skills .container .row .col .card img {
    object-fit: contain;
 } 

/* cars styling */
.servicesText{
    width: 400px ;
    height: 400px;
}
.card-img-top1 {
    width: 200px ;
    height: 200px;
}

